* {
    color: var(--fontColor);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background: var(--bg);
}

ul {
    font-family: 'Courier New', Courier, monospace;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

.btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 20%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(btnBg);
}

.btn:focus {
    outline-style: none;
}

.light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}

:root {
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
}
